<% layout("/layouts/boilerplate")-%>
<div class="row mt-3"></div>
    <div class="col-8 offset-2">
    <br>
    <h3>Create New Listing</h3>
    <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="Enter title" type="text" name="listing[title]" id="title" class="form-control" required>
            <div class="invalid-feedback">Title should be valid</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea placeholder="Enter description" name="listing[description]" id="description" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" name="listing[image]" id="image" class="form-control">
        </div>
        <div class="row">
        <div class="col-md-4 mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" placeholder="Enter price" type="number" name="listing[price]" id="price" class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="col-md-8 mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" placeholder="Enter country" type="text" name="listing[country]" id="country" class="form-control" required>
            <div class="invalid-feedback">Country should be valid</div>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" placeholder="Enter location" type="text" name="listing[location]" id="location" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn mt-3" type="submit">Add</button>
    </form>
    </div>
</div>